<!-- views/partials/header.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .div1, .div2 {
    display: inline-block;
  }
  </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                tiny app
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          <% if (!username) { %>
            <li>
              <form action="/login" method="POST" class = "loginform">
                <label for="username">Enter a username:</label>
                <input id="username" type="text" name="username" style="width: 300px">
                <input type="submit" value="Submit">
              </form>
            </li>
          <% } else { %>
            <li>
              <form id = "logout" method = "POST" action = "/logout" class = "logoutbutton">
                <button type = "submit" class = "btn btn-danger btn-sm" form = "logout" value = "delete">log out</button>
              </form>
            </li>
          <% } %>
        </ul>
    </div>
</nav>
