<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style>
      body {
        font-family: 'Raleway', sans-serif;
      }
      h3 {
        margin: 55px;
        font-size: 60%;
      }
      h4 {
        margin: 120px;
      }
    </style>
  </head>
  <body>
    <% include partials/_header %>
    <% userID; %>
    <h2><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to the tiny app!</h2>
      <h3>A no-nonsense space to get your favorite URLs condensed into fun-sized links for maximum flexibility</h3>
        <h4><a href = "/"><br>Get started</h4></p>
  </body>
</html>
