
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp (URL Show doc)</title>
</head>
<body>
  <% include ./partials/_header %>
  <blockquote>
    your shortened URL: <%= templateVars.shortURL %> <br>
    your full URL: <%= templateVars.longURL[templateVars.shortURL] %>
    <form action="/urls/:id" method="POST">
      <label for="updatedURL">Enter an updated URL:</label>
      <input id ="updatedURL" type="text" name="updatedURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">
    </form>
  </blockquote>
</body>
</html>


<form action="/urls" method="POST" style="margin:150px;">
  <label for="longURL">Enter a URL:</label>
  <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
  <input type="submit" value="Submit">
</form>
