
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp (URL Show doc)</title>
</head>
<body>
  <% include ./partials/_header %>
    <%= console.log(templateVars)  ; =>
  <!-- your shortened URL: <%= shortURL %>
  your full URL: <%= longURL %> -->
</body>
</html>
