<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <ul>
  <% for (let pair in urls) { %>
    <form method = "POST" action = <%= `/urls/${pair}/delete` %> >
      <li><%= pair %>: <%= urls[pair] %>&nbsp;&nbsp;<button type="button" class="btn btn-primary btn-sm">Edit</button>&nbsp;&nbsp;<button type="button" class="btn btn-danger btn-sm">Delete</button></li><br>
    </form>
  <% }; %>
  </ul>
  <blockquote><a href="/urls/new">Shorten new URL</a></blockquote>
</body>
</html>
