
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp (URL Show doc)</title>
</head>
<body>
  <% include ./partials/_header %>
  <% userEmail; %>
  <blockquote>
    your shortened URL &nbsp;&#8594;&nbsp; <%= shortURL %> <br>
    your full URL &nbsp;&#8594;&nbsp; <%= longURL[shortURL] %>
    <br>
    <br>
    <form action="/urls/<%= shortURL %>" method="POST">
      <label for="updatedURL">Enter an updated URL:</label>
      <input id ="updatedURL" type="text" name="updatedURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">
    </form>
  </blockquote>
</body>
</html>
