
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp (URL Show doc)</title>
</head>
<body>
  <% include ./partials/_header %>
  <blockquote>your shortened URL: <%= templateVars.shortURL %> <br>
  your full URL: <%= templateVars.longURL[templateVars.shortURL] %></blockquote>
</body>
</html>
