<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <style>
  .div1, .div2 {
    display: inline-block;
  }
  </style>
</head>
<body>
  <% include ./partials/_header %>
  <% userID; %>
  <% if (userID) { %>
  <ul>
  <% for (let pair in usersDatabase[userID].urls) { %>
      <li><%= pair %>&nbsp;&#8594;&nbsp;<%= usersDatabase[userID].urls[pair] %> 	&nbsp;
        <div class = "div1"><a href="/urls/<%= pair %>">Edit</a></div>	&nbsp;
        <div class = "div2"><form id = "form1" method = "POST" action = "/urls/<%= pair %>/delete">
          <button type = "submit" class = "btn btn-danger btn-sm" form = "form1" value = "Delete">Delete</button>
        </form></div>
      </li>
    <br>
  <% }; %>
  </ul>
  <blockquote><a href="/urls/new">Shorten URL</a></blockquote>
  <% } else { %>
    <blockquote>You have to register and log in before getting in on the fun</blockquote>
  <% }; %>
</body>
</html>
